@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --fonte-principal: 'Ubuntu', sans-serif;
   font-family: var(--fonte-principal);
    background-color: #ffffff;
    color: #333333;
}

/* Animação de underline expandindo */
.underline-expand {
  position: relative;
  display: inline-block;
}

.underline-expand::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #22c55e;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.underline-expand:hover::after {
  width: 100%;
}

  .menu-toggle:checked ~ .nav-slide {
      right: 0;
   }